form{
	border-right: 2px black solid;
	width:400px;
	height:550px;
	font-family:"Comic Sans MS";
	display:inline-block;
	padding-left:5px;
	
}
h1{
	font-weight:normal;
}
table{
	
	border-collapse: collapse;
}
td,th{
	border:2px black solid;
	width:100px;
	height:30px;
	
}
#p2{
	
	width:600px;
	display:inline-block;
	margin-left:50px;
	position:absolute;
	height:550px;
	font-family:"Comic Sans MS"
	
}
#bouton1:hover{
	background-color:green;
}
