/*font du dessin*/
#contentCloud {
    position: relative;
    width:100%;    
    height: 600px;
    background-image: linear-gradient(to bottom, #003966, #2b6287, #588da7, #8ab9c6, #c2e6e9);
    border-bottom: solid 1px #999;
    box-shadow: #bababa 0px 0px 5px;
    font-weight: 900;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
/*Solei*/
#sun {
    position: absolute;
    top: 2em;
    right: 4em;
    width: 3.5em;
    height: 3.5em;
    background-color : yellow;
    border-radius: 50%;
    border: 1px solid #FFFACD;
    box-shadow: #FFFACD 0px 0px 100px 20px;
}
/*Corps des 3 cases*/
#myelement1 {
  position: relative;
  content: "";
  position: absolute;
  width: 5em;
  height: 4em;
  background-color : #584400;
  border: 1px solid #584400;
  bottom: 5.6em;
  left: 2em;
  z-index: 1;
  
}
#myelement2{
    position: relative;
  content: "";
  position: absolute;
  width: 5em;
  height: 4em;
  background-color : #584400;
  border: 1px solid #584400;
  bottom: 5.6em;
  left: 9em;
  z-index: 1;

}
#myelement3{
    position: relative;
  content: "";
  position: absolute;
  width: 5em;
  height: 4em;
  background-color : #584400;
  border: 1px solid #584400;
  bottom: 5.6em;
  left: 16em;
  z-index: 1;

}
/*Les 3 portes*/
#element1{
    position: relative;
  content: "";
  position: absolute;
  width: 2em;
  height: 1.7em;
  background-color : #000000;
  border: 1px solid #000000;
  bottom: 5.6em;
  left: 3.5em;
  z-index: 1;
}
#element2{
    position: relative;
  content: "";
  position: absolute;
  width: 2em;
  height: 1.7em;
  background-color : #000000;
  border: 1px solid #000000;
  bottom: 5.6em;
  left: 10.5em;
  z-index: 1;
  }
  #element3{
    position: relative;
  content: "";
  position: absolute;
  width: 2em;
  height: 1.7em;
  background-color : #000000;
  border: 1px solid #000000;
  bottom: 5.6em;
  left: 17.5em;
  z-index: 1;
}
/*Les 3 toits avec les chapeaux*/
 #toit1{
    position: relative;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 2.9em solid transparent;
  border-left: 2.9em solid transparent;
  border-bottom: 3.5em solid #584400;
  bottom:9.6em;
  left: 1.7em;
  z-index: 1;
 }
  #toit2{
    position: relative;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 2.9em solid transparent;
  border-left: 2.9em solid transparent;
  border-bottom: 3.5em solid #584400;
  bottom:9.6em;
  left: 8.7em;
  z-index: 1;
 }
  #toit3{
    position: relative;
  content: "";
  position: absolute;
   width: 0;
  height: 0;
  border-right: 2.9em solid transparent;
  border-left: 2.9em solid transparent;
  border-bottom: 3.5em solid #584400;
  bottom:9.6em;
  left: 15.7em;
  z-index: 1;
 }

  #surtoit1{
    position: relative;
  content: "";
  position: absolute;
   width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #584400;
  bottom:13em;
  left: 3.6em;
  z-index: 1;
  }
  #surtoit2{
    position: relative;
  content: "";
  position: absolute;
   width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #584400;
  bottom:13em;
  left: 10.6em;
  z-index: 1;
  }
  #surtoit3{
    position: relative;
  content: "";
  position: absolute;
   width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #584400;
  bottom:13em;
  left: 17.6em;
  z-index: 1;
  }
/*Le puits*/
   #puits{
     position: relative;
  content: "";
  position: absolute;
  width: 4em;
  height: 3em;
  background-color : #808080;
  border: 1px solid black;
  bottom: 5.6em;
  right: 10em;
  z-index: 1;
  
   }
/*La poulie*/
   #cercle {
    position: relative;
  content: "";
  position: absolute;
    width: 0.1em;
    height: 0.1em;
    border-radius: 0.1em;
    background: black;
    right: 13em;
    bottom: 11.1em;
    z-index: 1;
}
/*Coordonnées de la corde lié a la poulie*/
#cercle11 {
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: black;
    right: 14.7em;
    bottom: 12em;
    z-index: 1;
}
/*La bar rattachée a la  poulie*/
#bar {
    position: relative;
  content: "";
  position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 0.7em;
    background: black;
    right: 11.3em;
    bottom: 11.2em;
    z-index: 1;
}
/*Coordonnées du tronc d'arbre*/
#contain-demo {
  position: relative;
  content: "";
  position: absolute;
  width: 3em;
  height: 5em;
  border-radius: 0em;
  background: black;
  left: 13em;
  bottom: 5em;
  z-index: 1;
}
/*Le tronc d'arbre*/
#simple{
  stroke: black;
  fill: transparent;
  stroke-width: 2px;
/*La corde du puits*/
}
#simple1{
  stroke: #584400;
  fill: transparent;
  stroke-width: 2px;
}
/*Les oiseaux*/
 #cercle1 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 2em;
    top: 4em;
    z-index: 1;
}
 #cercle2 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 15em;
    top: 3em;
    z-index: 1;
}
 #cercle3 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 12em;
    top: 3em;
    z-index: 1;
}
 #cercle4 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 8em;
    top: 6em;
    z-index: 1;
}
 #cercle5 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 6em;
    top: 4em;
    z-index: 1;
}
 #cercle6 {
    position: relative;
  content: "";
  position: absolute;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: black;
    right: 4em;
    top: 6em;
    z-index: 1;
}
/*Le feuillage de l'arbre*/
#cadre{
  width: 100;
  height: 600;
}
#cercle7 {
    position: relative;
  content: "";
  position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    background: green;
    right: 26em;
    top: 22em;
    z-index: 1;
}
#cercle8 {
    position: relative;
  content: "";
  position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    background: green;
    right: 28em;
    top: 23em;
    z-index: 1;
}
#cercle9 {
    position: relative;
  content: "";
  position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    background: green;
    right: 24em;
    top: 23em;
    z-index: 1;
}
#cercle10 {
    position: relative;
  content: "";
  position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 5em;
    background: green;
    right: 26em;
    top: 24em;
    z-index: 1;
}
/*Les 2 barres du puits*/
#bar1{
    position: relative;
  content: "";
  position: absolute;
    width: 0.2em;
    height: 6em;
    border-radius: 0.2em;
    background: #584400;
    right: 14em;
    top: 26em;
    z-index: 1;
}
#bar2{
    position: relative;
  content: "";
  position: absolute;
    width: 0.2em;
    height: 6em;
    border-radius: 0.2em;
    background: #584400;
    right: 9em;
    top: 26em;
    z-index: 1;
}
/*Les ailes des oiseaux avec leurs coordonnées*/
#aile1{
  stroke: black;
  fill: transparent;
  stroke-width: 3px;
}
#aile1a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: black;
    right: 3.1em;
    top: 2.7em;
    z-index: 1;
}
#aile2{
  stroke: black;
  fill: transparent;
  stroke-width: 3px;

}

#aile2a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: #584400;
    right: 13em;
    top: 1.7em;
    z-index: 1;
}
#aile3{
  stroke: black;
  fill: transparent;
  stroke-width: 3px;

}

#aile3a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 3em;
    border-radius: 0em;
    background: #584400;
    right: 16em;
    top: 1.7em;
    z-index: 1;
}
#aile4{
  stroke: black;
  fill: transparent;
  stroke-width: 3px;

}
#aile4a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: black;
    right: 7em;
    top: 2.7em;
    z-index: 1;
}
#aile5{
  stroke:black;
  fill: transparent;
  stroke-width: 3px;

}
#aile5a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: black;
    right: 9em;
    top: 4.7em;
    z-index: 1;

}
#aile6{
  stroke: black;
  fill: transparent;
  stroke-width: 3px;

}
#aile6a{
    position: relative;
  content: "";
  position: absolute;
    width: 0em;
    height: 0em;
    border-radius: 0em;
    background: #584400;
    right: 5em;
    top: 4.7em;
    z-index: 1;
}